@use "../../scss/" as *;

.detail {
  flex: 1;
  overflow-y: auto;
  max-height: 100vh;
  width: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__banner {
    width: 100%;
    height: 400px;
    position: relative;

    @include tablet {
      height: 300px;
    }

    &::before {
      content: "";
      height: 350px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(to top, $white, rgba($black, 0));

      @include tablet {
        height: 200px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__btns {
    @include flex(center, space-between);
    width: 35%;

    & > * {
      height: 50px;
    }

    @include tablet {
      & > * {
        height: 40px;
        font-size: 0.9rem;
      }
    }

    @include mobile {
      width: 55%;
      margin-top: 1rem;

      & > * {
        height: 30px;
      }
    }
  }

  &__content {
    position: relative;
    margin-top: -20rem;
    @include flex(center, center);
    color: #000000;
    align-items: center;
    margin-bottom: 0;

    @include mobile {
      flex-direction: column;
    }

    &__image {
      width: 30%;

      @include tablet {
        margin-right: 2rem;
        height: 400px;
      }

      @include mobile {
        height: 250px;
        width: unset;
        margin-bottom: 2rem;
      }

      img {
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
      }
    }

    &__info {
      flex: 1;
      padding-left: 3rem;

      @include tablet {
        padding-left: 0rem;
      }

      @include mobile {
        padding-left: 0;
      }

      .title {
        line-height: 1;
        margin-bottom: 10px;
      }

      .tagline {
        margin-bottom: 10px;
      }

      .rated {
        & > * {
          margin-right: 10px;
        }

        margin-bottom: 10px;
      }
      .more {
        display: flex;
        margin-bottom: 20px;
        font-size: 0.9rem;

        & > * {
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .genres {
        span {
          margin-right: 10px;
          padding: 4px 10px;
          border: 2px solid $black;
          border-radius: 3rem;
          font-size: 0.9rem;
        }
        margin-bottom: 20px;
      }

      .overview {
        margin-bottom: 20px;

        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          max-width: 100%;
          word-break: break-word;
        }
      }

      .cast {
        h3 {
          margin-bottom: 1rem;
        }
        &__content {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          gap: 10px;
          &__item {
            &__image {
              height: 80%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            &__name {
              font-size: 0.8rem;
            }
          }

          @include tablet {
            grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
          }

          @include mobile {
            grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
          }
        }
      }
    }
  }

  &__image {
    &__content {
      gap: 20px;
      @include flex(center, center);

      @include mobile {
        flex-direction: column;
      }
      img {
        height: 400px;
        object-fit: cover;
        border: none;
        @include mobile {
          height: 200px;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 75% 25%;

    padding-top: 4rem;

    @include mobile {
      grid-template-columns: 100% 0%;
    }

    &__right {
      .standing-list__body {
        margin-bottom: 3rem;

        overflow-y: auto;
        max-height: 500px;
        width: 100%;
        position: relative;

        &::-webkit-scrollbar {
          width: 9px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(107, 107, 107);
          border-radius: 3rem;
        }
        &::-webkit-scrollbar-track {
          background: rgb(172, 172, 172);
          border-radius: 3rem;
        }
      }
    }
  }
}
