@use "../../scss/" as *;

.movie-grid {
  width: 100%;
  &__search {
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
  }
}

.movie-grid__body {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-bottom: 3rem;

    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  &__btn {
    @include flex(center, center);
  }

  margin-bottom: 3rem;
}
